<div class="center hero-unit">
  <h1>Keep track with Taskr</h1>
  <p>Keeping track of tasks just got a whole lot easier</p>

  <%= link_to 'Sign up now!', '#', class: 'btn btn-large btn-primary' %>

</div>

<%= link_to image_tag('rails.png', alt: "Built using Ruby on Rails"), 'http://rubyonrails.org' %>